<template>
  <v-card class="product-card">
    <v-carousel :hide-delimiters="true" height="250px">
      <v-carousel-item
        v-for="(img,i) in product.images"
        :key="i"
        :src="img"
        reverse-transition="fade-transition"
        transition="fade-transition"
      ></v-carousel-item>
    </v-carousel>
    <v-card-title>{{ product.title }}</v-card-title>
    <v-card-subtitle>
      {{ $i18n.t('category') }}: {{  product.category.name }}
    </v-card-subtitle>
    <v-card-text>
      <span class="product-card--price">{{ $i18n.t('price') }}: $. {{  product.price }}</span>
    </v-card-text>
    <v-card-actions>
      <v-btn color="primary">
        <v-icon
          left
          dark
        >
          mdi-cart
        </v-icon>
        {{  $i18n.t('add') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
  import Vue from 'vue'
  import type { PropType } from 'vue'
  import { IProduct } from '~/interfaces/IProduct';
  export default Vue.extend({
    data(){
      return {
        loading: false
      }
    },
    methods: {
    },
    props: {
      product:{
        type: Object as PropType<IProduct>,
        required: true
      }
    }
  })
</script>

<style lang="scss" scoped>
.product-card{
  &--price{
    font-weight: 600;
  }
}
</style>
