<template>
  <v-app-bar app color="green">

    <v-btn to="/" text>{{  $i18n.t('home') }}</v-btn>

    <!-- Desktop menu -->
    <v-spacer />

    <!-- Mobile menu -->
    <v-menu>
      <template #activator="{on}">
        <v-btn
          icon
          v-on="on"
          class="hidden-md-and-up"
        >
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>
      <!-- <v-list>
        <v-list-item v-for="link in mobileLinks"
                     :key="link.text"
                     text>
          <a :href="link.to" target="_blank">
            <v-list-item-title>{{ link.text }}</v-list-item-title>
          </a>
        </v-list-item>
      </v-list> -->
    </v-menu>
  </v-app-bar>
</template>

<script>
  export default {
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  .v-image, img {
    border-radius: 50% !important;
    width: 45px;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
  }

  a {
    text-decoration: none;
  }
</style>
