<template>
  <div>
    <div>
      <h1>Login</h1>
      <SpinnerIfLoading :loading="loading">
        <UserAuthForm :submitForm="loginUser" />
      </SpinnerIfLoading>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue'
  import UserAuthForm from '@/components/UserAuthForm.vue'
  import SpinnerIfLoading from '@/components/SpinnerIfLoading.vue'
  import SnackbarModule from '@/store/snackbar'

  export default Vue.extend({
    data(){
      const authScreen = this.$route.query.authScreen || this.startingScreen
      return {
        authScreen,
        loading: false
      }
    },
    components: {
      UserAuthForm,
      SpinnerIfLoading,
    },
    methods: {
      async loginUser(loginInfo: any){
        this.loading = true;

        try {
          await this.$auth.loginWith('local', {
            data: loginInfo
          })
          console.log('user auth',this.$auth.user)
          // snackbarStore.setSnackbar({text: `Thanks for signing in`})
          // this.$store.dispatch('snackbar/setSnackbar', {text: `Thanks for signing in, ${this.$auth.user.name}`})

          typeof this.postLoginAction === 'function' ? this.postLoginAction() : null
        } catch(error) {
          console.error('in catch', error)
          // snackbarStore.setSnackbar({color: 'red', text: 'There was an issue signing in.  Please try again.'})
        }

        this.loading = false;
      },
    },
    props: {
      loginPhrase: {
        type: String,
        default: "Login"
      },
      postRegisterAction: {
        type: Function,
        default: () => {}
      },
      postLoginAction: {
        type: Function,
        default: () => {}
      },
      startingScreen: {
        type: String,
        default: 'login'
      }
    },
  })
</script>

<style lang="scss" scoped>

</style>
