<template>
  <v-form v-model="valid">
    <v-text-field v-model="user.email"
                  label="Email"
                  color="green"
                  :rules="[required('email'), emailFormat()]"/>

    <UserAuthPassword v-model="user.password" :value="user.password" />

    <v-btn @click="submitForm(user)" :disabled="!valid" color="green accent-3">Login</v-btn>
  </v-form>
</template>

<script lang="ts">
  import Vue from 'vue'
  import validations from "@/utils/validations"
  import UserAuthPassword from '@/components/UserAuthPassword.vue'
  import type { IAuthUser } from '@/interfaces/IUser'

  const user: IAuthUser = {
    email: 'john@mail.com',
    password: 'changeme',
  }

  export default Vue.extend({
    components: {
      UserAuthPassword
    },
    props: {
      submitForm: {
        type: Function,
        required: true,
      }
    },
    data() {
      return {
        valid: false,
        user,
        ...validations
      }
    },
  })
</script>

<style lang="scss" scoped>
</style>
