<template>
  <v-container>
    <div>
      <!-- TODO: CRUD products here -->
    </div>
  </v-container>
</template>

<script lang="ts">
  import Vue from 'vue'
  export default Vue.extend({
    middleware: ['auth-guard']
  })
</script>

<style lang="scss" scoped>

</style>
