<template>
  <v-container>
    <v-sheet v-if="$route.query.redirect" color="green lighten-3" class="text-center">
      {{ $i18n.t('noLogin') }} {{$route.query.redirect}}.
    </v-sheet>
    <UserAuthForm
      :postLoginAction="redirect"
    />
  </v-container>
</template>

<script lang="ts">
  import Vue from 'vue'
  import UserAuthForm from '@/components/UserAuthTogglableForm.vue'
  import type { RawLocation } from 'vue-router'

  export default Vue.extend({
    components: {
      UserAuthForm
    },
    methods: {
      redirect(){
        const REDIRECT_URI = this.$route.query.redirect || '/'
        this.$router.push(REDIRECT_URI as RawLocation)
      }
    },
    created(){
      // console.log(this.$auth, this.$auth.loggedIn)
      if(!!this.$auth.getToken('local')) this.redirect()
    }
  })
</script>

<style lang="scss" scoped>

</style>
